<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cgwx.webhdfs.dao.mysql.FsImageTilecutMapper" >
  <resultMap id="BaseResultMap" type="com.cgwx.webhdfs.model.mysql.FsImageTilecut" >
    <result column="image_id" property="imageId" jdbcType="INTEGER" />
    <result column="row_min" property="rowMin" jdbcType="INTEGER" />
    <result column="row_max" property="rowMax" jdbcType="INTEGER" />
    <result column="col_min" property="colMin" jdbcType="INTEGER" />
    <result column="col_max" property="colMax" jdbcType="INTEGER" />
    <result column="file_path" property="filePath" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.cgwx.webhdfs.model.mysql.FsImageTilecut" >
    insert into fs_image_tilecut (image_id, row_min, row_max, 
      col_min, col_max, file_path
      )
    values (#{imageId,jdbcType=INTEGER}, #{rowMin,jdbcType=INTEGER}, #{rowMax,jdbcType=INTEGER}, 
      #{colMin,jdbcType=INTEGER}, #{colMax,jdbcType=INTEGER}, #{filePath,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cgwx.webhdfs.model.mysql.FsImageTilecut" >
    insert into fs_image_tilecut
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="imageId != null" >
        image_id,
      </if>
      <if test="rowMin != null" >
        row_min,
      </if>
      <if test="rowMax != null" >
        row_max,
      </if>
      <if test="colMin != null" >
        col_min,
      </if>
      <if test="colMax != null" >
        col_max,
      </if>
      <if test="filePath != null" >
        file_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="imageId != null" >
        #{imageId,jdbcType=INTEGER},
      </if>
      <if test="rowMin != null" >
        #{rowMin,jdbcType=INTEGER},
      </if>
      <if test="rowMax != null" >
        #{rowMax,jdbcType=INTEGER},
      </if>
      <if test="colMin != null" >
        #{colMin,jdbcType=INTEGER},
      </if>
      <if test="colMax != null" >
        #{colMax,jdbcType=INTEGER},
      </if>
      <if test="filePath != null" >
        #{filePath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>