<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cgwx.webhdfs.dao.mysql.FsUserAccountMapper" >
  <resultMap id="BaseResultMap" type="com.cgwx.webhdfs.model.mysql.FsUserAccount" >
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="wechat_account" property="wechatAccount" jdbcType="VARCHAR" />
    <result column="qq_account" property="qqAccount" jdbcType="VARCHAR" />
    <result column="weibo_account" property="weiboAccount" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.cgwx.webhdfs.model.mysql.FsUserAccount" >
    insert into fs_user_account (user_id, username, telephone, 
      email, password, wechat_account, 
      qq_account, weibo_account)
    values (#{userId,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{wechatAccount,jdbcType=VARCHAR}, 
      #{qqAccount,jdbcType=VARCHAR}, #{weiboAccount,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cgwx.webhdfs.model.mysql.FsUserAccount" >
    insert into fs_user_account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="wechatAccount != null" >
        wechat_account,
      </if>
      <if test="qqAccount != null" >
        qq_account,
      </if>
      <if test="weiboAccount != null" >
        weibo_account,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="wechatAccount != null" >
        #{wechatAccount,jdbcType=VARCHAR},
      </if>
      <if test="qqAccount != null" >
        #{qqAccount,jdbcType=VARCHAR},
      </if>
      <if test="weiboAccount != null" >
        #{weiboAccount,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="getUserByUsernameAndPwd" parameterType="com.cgwx.webhdfs.model.mysql.FsUserAccount" resultMap="BaseResultMap">
      select * from fs_user_account where username = #{0} and password = #{1}
  </select>
</mapper>