.myButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    box-shadow:inset 0px 1px 0px 0px #54a3f7;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3b94d1), color-stop(1, #007dc1));
    background:-moz-linear-gradient(top, #3b94d1 5%, #007dc1 100%);
    background:-webkit-linear-gradient(top, #3b94d1 5%, #007dc1 100%);
    background:-o-linear-gradient(top, #3b94d1 5%, #007dc1 100%);
    background:-ms-linear-gradient(top, #3b94d1 5%, #007dc1 100%);
    background:linear-gradient(to bottom, #3b94d1 5%, #007dc1 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b94d1', endColorstr='#007dc1',GradientType=0);
    background-color:#3b94d1;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:0;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    padding:6px 26px;
    text-decoration:none;
    text-shadow:0px 1px 0px #154682;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #3b94d1));
    background:-moz-linear-gradient(top, #007dc1 5%, #3b94d1 100%);
    background:-webkit-linear-gradient(top, #007dc1 5%, #3b94d1 100%);
    background:-o-linear-gradient(top, #007dc1 5%, #3b94d1 100%);
    background:-ms-linear-gradient(top, #007dc1 5%, #3b94d1 100%);
    background:linear-gradient(to bottom, #007dc1 5%, #3b94d1 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#3b94d1',GradientType=0);
    background-color:#007dc1;
}
.myButton:active {
    position:relative;
    top:1px;
}
.myButtonRed {
    -moz-box-shadow:inset 0px 1px 0px 0px #fd7136;
    -webkit-box-shadow:inset 0px 1px 0px 0px #fd7136;
    box-shadow:inset 0px 1px 0px 0px #fd7136;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fd7136), color-stop(1, #fd5d2d));
    background:-moz-linear-gradient(top, #fd7136 5%, #fd5d2d 100%);
    background:-webkit-linear-gradient(top, #fd7136 5%, #fd5d2d 100%);
    background:-o-linear-gradient(top, #fd7136 5%, #fd5d2d 100%);
    background:-ms-linear-gradient(top, #fd7136 5%, #fd5d2d 100%);
    background:linear-gradient(to bottom, #fd7136 5%, #fd5d2d 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b95d1', endColorstr='#007dc1',GradientType=0);
    background-color:#fd5d2d;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:0;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    padding:6px 26px;
    text-decoration:none;
    text-shadow:0px 1px 0px #fd180c;
}
.myButtonRed:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fd5d2d), color-stop(1, #fd7136));
    background:-moz-linear-gradient(top, #fd5d2d 5%,  #fd7136 100%);
    background:-webkit-linear-gradient(top, #fd5d2d 5%,  #fd7136 100%);
    background:-o-linear-gradient(top, #fd5d2d 5%,  #fd7136 100%);
    background:-ms-linear-gradient(top, #fd5d2d 5%,  #fd7136 100%);
    background:linear-gradient(to bottom, #fd5d2d 5%,  #fd7136 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#3b95d1',GradientType=0);
    background-color:#fd5d2d;
}
.myButtonRed:active {
    position:relative;
    top:1px;
}

.myButtonGray {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b94d1', endColorstr='#007dc1',GradientType=0);
    background-color:#ededed;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:0;
    display:inline-block;
    cursor:pointer;
    color:#999999;
    font-family:Arial;
    font-size:13px;
    padding:6px 26px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.myButtonGray:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
    background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
    background-color:#dfdfdf;
}
.myButtonGray:active {
    position:relative;
    top:1px;
}

